.ticket{
    margin: 20px auto;
	width: 500px;
	border: 2px solid #000000;
	border-radius: 4px;
    background-color: rgb(234,223,201);
}
.title{
    color: black;
    text-align: center;
    margin: 20px;
}
.info {
    padding: 15px 25px;
}
th{
    text-align: center;
    width: 1000px;
    color: black;
}
td {
    text-align: center;
    color: rgba(0, 0, 0, 0.815);
}
.tb{
    margin: 100px;
}
table{
    margin: 30px;
}
